---
name: 'Yamllint GitHub Actions'
on: [push, pull_request]
jobs:
  yamllint:
    name: yamllint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v3
      - name: Run yamllint
        uses: frenck/action-yamllint@v1
